{{define "messages_index"}}
{{template "header.html" .}}

<div class="container">

<div class="mt-3">
<a href="/taka2/messages/new">メッセージを書く</a>
</div>

<br />

<table class="table table-bordered">
  <tbody>
  <!--tr>
    <th>Userid</th>
    <th>Body</th>
    <th>日付</th>
    <th></th>
    <th></th>
    <th></th>
  </tr-->

{{$se_id := .Session_user_id}}
{{range .Mmm}}
  <tr>
    <!--td><%= message.userid %></td-->
    	{{if eq (mod .Userid 2) 1}}
	<td style="vertical-align: top; width: 5px">
   		<p><img src="/taka2/assets/images/ineko3b.gif" alt="ineko3b" /></p>
   	</td>
    <td style="vertical-align: top; color: #FF69B4">
		{{.Body}}
    </td>
		{{end}}
		{{if eq (mod .Userid 2) 0}}
	<td style="vertical-align: top">
   		<p><img src="/taka2/assets/images/iuki1d.gif" alt="iuki1d" /></p>
   	</td>
    <td style="vertical-align: top; color: blue">
    	{{.Body}}
    </td>
	    {{end}}
    <td style="vertical-align: top"><p>{{.UpdatedAt | dt}}</p></td>
    <!--td style="vertical-align: top"><p><%= link_to 'Show', message %></td-->
    {{if eq .Userid $se_id}}
    <td style="vertical-align: top" nowrap><p><a href="/taka2/messages/{{.Id}}/edit">編集</a></p></td>
    <td style="vertical-align: top" nowrap><p><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/taka2/messages/{{.Id}}/delete">削除</a></p></td>
    {{end}}
  </tr>
{{end}}
  </tbody>
</table>


<nav aria-label="Page navigation example">
  <ul class="pagination">
{{$top := .}}

{{if eq .Current_page 1}}
{{else}}
    <li class="page-item"><a class="page-link" href="/taka2/?page=1">&laquo; First</a></li>

    <li class="page-item"><a class="page-link" href="/taka2/?page={{sub .Current_page 1}}">&lsaquo; Prev</a></li>
{{end}}
{{range .Pages}}
{{if eq . $top.Current_page}}
    <li class="page-item active"><span class="page-link">{{.}}<span class="sr-only">(current)</span></span></li>
{{else}}
    <li class="page-item"><a class="page-link" href="/taka2/?page={{.}}">{{.}}</a></li>
{{end}}
{{end}}
{{if eq .Current_page (len .Pages)}}
{{else}}
    <li class="page-item"><a class="page-link" href="/taka2/?page={{add .Current_page 1}}">Next &rsaquo;</a></li>

    <li class="page-item"><a class="page-link" href="/taka2/?page={{len .Pages}}">Last &raquo;</a></li>
{{end}}
  </ul>
</nav>

<br />

{{template "footer.html" .}}

{{end}}