{{define "messages_index"}}
<h1><span style="color: #FF69B4">憩</span>の部屋</h1>


<a href="/taka2/messages/new">メッセージを書く</a>
<br />
<br />

<table>
  <!--tr>
    <th>Userid</th>
    <th>Body</th>
    <th>日付</th>
    <th></th>
    <th></th>
    <th></th>
  </tr-->

{{$se_id := .Session_user_id}}
{{range .Mmm}}
  <tr>
    <!--td><%= message.userid %></td-->
    	{{if eq (mod .Userid 2) 1}}
	<td style="vertical-align: top; width: 5px">
   		<p><img src="https://www5183ui.sakura.ne.jp/taka/assets/ineko3b-56d123ce3c4f9fedd94072c693a50f76d8b67109f64ee335886262bf916ef209.gif" alt="Ineko3b" /></p>
   	</td>
    <td style="vertical-align: top; color: #FF69B4">
		{{.Body}}
    </td>
		{{end}}
		{{if eq (mod .Userid 2) 0}}
	<td style="vertical-align: top">
   		<p><img src="https://www5183ui.sakura.ne.jp/taka/assets/iuki1d-adc586a805586525292dd6f7c5c51762bc10b08d5e5328863b959f5848c42bb2.gif" alt="Iuki1d" /></p>
   	</td>
    <td style="vertical-align: top; color: blue">
    	{{.Body}}
    </td>
	    {{end}}
    <td style="vertical-align: top"><p>{{.Created_at}}</p></td>
    <!--td style="vertical-align: top"><p><%= link_to 'Show', message %></td-->
    {{if eq .Userid $se_id}}
    <td style="vertical-align: top" nowrap><p><a href="/taka/messages/30/edit">編集</a></p></td>
    <td style="vertical-align: top" nowrap><p><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/taka/messages/35">削除</a></p></td>
    {{end}}
  </tr>
{{end}}
</table>


<br />
{{end}}