{{define "messages_new"}}
{{template "header.html" .}}

<h1>書き込み画面</h1>

<form class="new_message" id="new_message" action="/taka2/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="PUkYzx9U9Zoz8aa9NeWpu/c0jHDm70PgO2Bwjp1SyP3UvTHp4BiQYZNoJ5WnJpbvgD6wb7cuKudTaB34tAo21w==" />

  <!--div class="field">
    <label for="message_userid">Userid</label><br>
    <input type="number" name="message[userid]" id="message_userid" />
  </div-->
  <div class="field">
       メッセージ<br>
    <textarea name="message[body]" id="message_body">
</textarea>
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="書き込む" data-disable-with="書き込む" />
  </div>
</form>

<a href="/taka2/messages">Back</a>


</body>
</html>
{{end}}