{{define "messages_show"}}
<!DOCTYPE html>
<html>
<head>
  <title>Room</title>
  <link rel="stylesheet" media="all" href="/taka/assets/application-0723cb9a2dd5a514d954f70e0fe0b89f6f9f1ae3a375c182f43b5f2b57e9c869.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script type="text/javascript">
		$(document).bind("mobileinit", function(){
		  $.mobile.ajaxEnabled = false;
		  $.mobile.pushStateEnabled = false;
		});
	</script>

    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

  <script src="/taka/assets/application-f30440b47d139f3c44209ac926f052f1f674bd6d0fe9c347016ca05cc70f5ec6.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="Cvh/Milua5TJVOLBr6EQi2VxSImEsInDmgNceF/EGqvjDFYU1iIOb2nNY+k9Yi/fEnt0ltVx4MTyCzEOdpzkgQ==" />
</head>
<body>

<div id="user_nav">
    <a rel="nofollow" data-method="delete" href="/taka/sessions/1">ログアウト</a>
</div>

<p id="notice"></p>

<!--p>
  <strong>Userid:</strong>
  2
</p-->

<p>
  <strong>メッセージ:</strong>
  <p>{{.Body | html | br}}</p>
</p>

<a href="/taka2/messages/{{.Id}}/edit">Edit</a> |
<a href="/taka2/messages">Back</a>


</body>
</html>
{{end}}